Source: wk2img
Section: web
Priority: optional
Maintainer: Manuel Rego Casasnovas <mrego@igalia.com>
Build-Depends: debhelper (>= 7.0.50), libwebkit-dev, gnome-common
Standards-Version: 3.8.4

Package: wk2img
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: WebKitGTK+ Rendering Capture Tool
 wk2img is a small command-line utility to capture WebKitGTK+
 rendering of a web page into a image file.
