#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

configure: configure.ac Makefile.am src/Makefile.am
	NOCONFIGURE=1 ./autogen.sh

override_dh_auto_configure: configure
	dh_auto_configure
